{% extends 'base.html' %}


{% block content %}
    

    <main class="container">

      <!-- Left Column / Product Image -->
      <div class="left-column">
        <!-- <img data-image="img2" src="static/Product_Rendering_Side.png" alt=""> -->
        <img data-image="img3" class="active" src="static/designV6.png" alt="">
      </div>


      <!-- Right Column -->
      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <span style="color:rgb(240, 225, 7)">Smart IOT Device for Fridges</span>
          <h1 style="color:rgb(255, 255, 255)">SmartBoxes</h1>
          <p style="color:rgb(240, 225, 7)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper ex at lectus bibendum, et laoreet erat cursus. Cras porttitor quam vitae viverra commodo. Ut tellus orci, efficitur sit amet lorem nec, scelerisque vestibulum purus. Duis vehicula molestie tortor cursus pulvinar. Cras vitae placerat arcu. Nunc congue fringilla nisl et tincidunt. Mauris tempus erat ac scelerisque pellentesque. Curabitur at commodo nunc, quis ultricies orci. Etiam scelerisque eleifend nunc, et tempus tellus faucibus eu. Proin id lectus metus. Fusce porttitor hendrerit nulla, a lobortis lacus tempor sed. Quisque vulputate eros turpis. Ut sed tempor ligula. Sed ornare sit amet nisl at lacinia. Duis quis urna varius, ultrices ipsum nec, gravida purus. Vestibulum eleifend arcu hendrerit, tempus turpis sit amet, facilisis nulla.</p>
        </div>

        <!-- Product Configuration -->
        <div class="product-configuration">

          <!-- Product Color -->
          <div class="Jumbotron">
            <span><h2 style="color: white ;">Product Features</h2></span>

            <ul>
                <li style="color: white ;">Feature 1</li>
                <li style="color: white ;" >Feature 2</li>
                <li style="color: white ;">Feature 3</li>
              </ul>
            </div>

          </div>


    </main>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>


{% endblock %}